.navbar__icon {
    font-size: 1.5rem;
}

.nav__img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 100px;
}

/* For screen displays */
@media only screen and (max-width: 464px) {
    html,
    body {
      width: auto;
    }

    .nav__img {
        display: none;
    }
  }