.footer {
    background-color: #c2bdbd;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.footer__contact {
    width: 100%;
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px;
    width: 100%;
    max-width: 1200px;
    font-size: 1.5rem;
}
