.footer {
  background-color: #c2bdbd;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.footer__contact {
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 40px;
  width: 100%;
  max-width: 1200px;
  font-size: 1.5rem;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

/* For mobile phones portrait or landscape */
@media only screen and (max-device-width: 640px) {
  html,
  body {
    width: auto;
  }

  .footer {
    display: inline-block;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
  }
}

/* For screen displays */
@media only screen and (max-width: 696px) {
  html,
  body {
    width: auto;
  }

  .footer {
    display: inline-block;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
  }
}